*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.DS_Store
/node_modules
/npm-debug.log*
__pycache__
venv
/MANIFEST
/manifest.json
/site
/dist
/mkdocs_material.egg-info
.vscode