site_name: Decompose
site_url: https://arkivanov.github.io/Decompose
site_author: Arkadii Ivanov
site_description: >-
  Kotlin Multiplatform lifecycle-aware business logic components (aka BLoCs) with routing functionality and pluggable UI (Jetpack Compose, SwiftUI, JS React, etc.)

# Repository
repo_name: arkivanov/Decompose
repo_url: https://github.com/arkivanov/Decompose
edit_uri: ""

# Copyright
copyright: Copyright &copy; 2020 - 2022 Arkadii Ivanov

# Page tree
nav:
  - Getting started:
    - Overview: index.md
    - Installation: getting-started/installation.md
    - License: getting-started/license.md
    - Contributing: getting-started/contributing.md

  - Component:
    - Overview: component/overview.md
    - Lifecycle: component/lifecycle.md
    - State preservation: component/state-preservation.md
    - Instance retaining: component/instance-retaining.md
    - Back button: component/back-button.md
    - Custom ComponentContext: component/custom-component-context.md

  - Router:
    - Overview: router/overview.md
    - Navigation: router/navigation.md
    - Deep linking: router/deeplinking.md
    - Web browser history: router/browser-history.md

  - Extensions:
    - Overview: extensions/overview.md
    - Extensions for Jetpack/JetBrains Compose: extensions/compose.md
    - Extensions for Android views: extensions/android.md

  - Samples: samples.md

  # Configuration
theme:
  name: 'material'

  # Don't include MkDocs' JavaScript
  include_search_page: false
  search_index_only: true

  # Default values, taken from mkdocs_theme.yml
  language: en
  features:
    - navigation.tabs
  palette:
    scheme: default
    primary: indigo
    accent: indigo
  font:
    text: Roboto
    code: Roboto Mono
  favicon: assets/favicon.png
  icon:
    logo: logo

# Plugins
plugins:
  - search
  - minify:
      minify_html: true

# Customization
extra:
  social:

# Extensions
markdown_extensions:
  - admonition
  - abbr
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      check_paths: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
